<main class="container">
  <%= link_to sanitize("&larr; Back to bookmark"), bookmark_path(@bookmark) %>

  <div class="header">
    <h1>Edit Bookmarks</h1>
  </div>

  <%= turbo_frame_tag @bookmark do %>
    <%= render "form", bookmark: @bookmark %>
  <% end %>
</main>
