.api_key {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-s);

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);
  padding: var(--space-xs);

  @include media(tabletAndUp) {
    padding: var(--space-xs) var(--space-m);
  }

  &__name {
    display: flex;
    font-size: var(--font-size-xxl);
  }

  &__key {
    display: flex;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }

  &__created_at {
    display: flex;
    font-size: var(--font-size-s);
    color: var(--color-text-muted);
  }

  &__actions {
    display: flex;
    flex: 0 0 auto;
    align-self: center;
    gap: var(--space-xs);
  }
}
